.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar {
  position: relative;
  top: 30px;
  left: 100px;
  padding-bottom: 20px;
  padding-right: 100px;
}

.calendar-card {
  position: relative;
  top: 30px;
}

.google-calendar-buttons {
  position: relative;
  top: 30px;
  left: 100px;
}

.react-calendar__tile {
  padding: 1.75em 1.75em;
}

.react-calendar {
  width: 500px;
}

.register-card {
  position: relative;
  top: 100px;
}

/* CSS for Calendar tiles with events */
.highlight {
  background-color: #f0a8a1;
}

/*CSS For Homepage starts here*/

.products-row-size {
  margin-top:20px;
  margin-bottom:20px;
  }
  
.products-row-background-colour{
  background-color: #282c34;
  color: white
}
.home-page-background{
  background-color: #454546;
  color: white;
}

/*CSS For Homepage ends here*/

.highlight:enabled:hover {
  background-color: #e89292;
}

.highlight:enabled:focus {
  background-color: #de3c3c;
}

/* CSS for Event Calendar tiles that is the current day */
.react-calendar__tile--now.highlight {
  background: #e21d1d;
}

.react-calendar__tile--now.highlight:enabled:hover {
  background: #f04747;
}

.react-calendar__tile--now.highlight:enabled:focus {
  background: #a30202;
}


/* CSS for Schedule Card */
.schedule-item {
  color: white;
}

 /* .schedule-item:nth-child(5n+1) {
  background: linear-gradient(135deg, #EF0F0F 0%, white 100%) !important;
}

.schedule-item:nth-child(5n+2) {
  background: linear-gradient(135deg, #DD2222 0%, white 100%) !important;
}

.schedule-item:nth-child(3) {
  background: linear-gradient(135deg, #C92F2F 0%, white  100%) !important;
}

.schedule-item:nth-child(4) {
  background: linear-gradient(135deg, #B33B3B 0%, white  100%) !important;
}

.schedule-item:nth-child(5) {
  background: linear-gradient(135deg, #A03E3E 0%, white  100%) !important;
} */

.schedule-item:nth-child(even) {
  background: linear-gradient(135deg, #BA0020FF 0%, #400808 100%) !important;
}

.schedule-item:nth-child(odd) {
  background: linear-gradient(135deg, #EE2737FF 0%, #400808 100%) !important;
}